/* Enter your custom styles here */
.Set_Pading {
    padding-right: 69px;
}
.myBackgroundStyle {
   
    font-size: large;
}

 

.FontColorChange {
    color: rgb(0, 0, 0);
    opacity: 10;
    font: bolder;
    color: black;
}